# Uppgifter, Kapitel 4 - Loopar och iterationer

1. Printa ut alla element i listan "looping_list" med en for loop.

In [1]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R', 'C', 'Java'), 55]

In [2]:
for i in looping_list:
    print(i)

0
a
b
[1, 2, 3]
('Python', 'R', 'C', 'Java')
55

2. Printa ut alla element i listan "looping_list" med en for loop och printa även ut vilken iteration det är genom att använda funktionen enumerate().

In [ ]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R', 'C', 'Java'), 55]

In [3]:
for i in enumerate(looping_list):
    print(i)

(0, 0)
(1, 'a')
(2, 'b')
(3, [1, 2, 3])
(4, ('Python', 'R', 'C', 'Java'))
(5, 55)

3. Printa ut talen 0, 5, 10, 15, 20 med en for-loop där du använder range() funktionen.

In [7]:
for i in range(0,21,5):
    print(i)

0
5
10
15
20

4. Skriv en for loop för att printa ut varje bokstav separat i variabeln "for_string".

In [9]:
for_string = 'Python!'

In [10]:
for i in for_string:
    print(i)

P
y
t
h
o
n
!

5. Skriv en while loop för att printa ut varje bokstav separat i variabeln "while_string".

In [12]:
while_string = 'Is Awesome!'

In [13]:
import re

letters = re.findall(r'[a-zA-Z ]', while_string)

for i in letters:
    print(i)

I
s

A
w
e
s
o
m
e

6. Printa ut talen 1, 2, 3, ..., 10 med en while loop.

In [17]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

7. Printa ut alla tal som är delbara med 5 i listan som är sparad i variabeln "numbers". För att se om ett tal är delbart med 5 så kan du använda modulo operatorn "%". Ett tal är delbart med 5 om dess rest är 0 när det delas med 5.

In [20]:
numbers = [10, 20, 34, 46, 55]

In [21]:
for i in numbers:
    if i % 5 == 0:
        print(i)

10
20
55

8. Förklara vad nedanstående kod gör.

In [22]:
my_list = [] 

for i in range(10):
    if i % 2 == 0:
        my_list.append(i)

print(my_list)

[0, 2, 4, 6, 8]

it basically writes the multiplication table of 2
it goes thru all the numbers up to ten and if the remander of dividing that number to 2 is equal 0, it will print it out

9. Använd en for loop för att skapa en ny lista från "list_example", där varje tal är multiplicerat med 10. Du skall endast inkludera talen mellan 4-8 där 4 och 8 är inkluderat från "list example".

In [25]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
[num*10 for num in list_example if 4 < num < 8]

[50, 60, 70]

10. Förklara vad nedanstående kod gör.

In [28]:
for i in range(100):
    if i in (5, 7, 8):
        continue 
    if i > 10: 
       break
    print(i)
else: 
    print('We are done!')

0
1
2
3
4
6
9
10

it genrates a list of numbers from 0 to 99,
if the number is 5 or 7 or 8 it will skip
if the number is bigger than 10 it will stop and will print we are done