# Python exercises 1 part 1/2
The exercises are connected to the video available at: https://www.youtube.com/watch?v=M7bnYJyCx0Q from 0:00 to 1:02:20.

When writing the solutions make sure the code is clear and readable. When providing comments, follow the general principle that you should comment "why" you are doing something and not "what", the "what" is seen by the code itself.

### Add and multiply the two numbers below.

In [1]:
pip install numpy pandas matplotlib

Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
nr1 = 5
nr2 = 10

In [2]:
5 + 10

15

In [3]:
5 * 10

50

# Lists

### Extract the first and last element in the list.

In [9]:
l = [1, 2, 3, 10, 15, 100]

In [11]:
print(l[-1])

100

### Check if the first and last number is the same in each list respectively. So, we expect the answer True in list_1 and False in list_2.

In [12]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]

In [19]:
def compare_list(l):
    if l[0] == l[-1]:
        print(True)
    else:
        print(False)

In [21]:
compare_list(list_2)

False

### Replace the number 4567 in the list with the number 22.

In [32]:
replace_4567 = [100, 2, 4567, 5, 7]

In [37]:
replace_4567[2] = 22

In [38]:
print(replace_4567)

[100, 2, 22, 5, 7]

### Replace the two numbers 3 and 4 with 30 and 40 in one line of code  by using slicing.

In [74]:
list = [1, 2, 3, 4, 5]

In [76]:
list[2:4] = [30, 40]

In [77]:
list

[1, 2, 30, 40, 5]

### Print out the list below but in reverse order.

In [80]:
my_list = [1, 2, 3, 10, 15, 100]

In [81]:
my_list[::-1]

[100, 15, 10, 3, 2, 1]

### Extract the following numbers with indexing or slicing:
* The number 5 in the list within the list. 
* Extract the whole list [10, 12, 13, 5, 100].
* Extract 12, 13, 5 in the list within the list
* Extract the number 8888 with negative indexing.
* Extract 1, 2, [10, 12, 13, 5, 100].

In [ ]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

In [ ]:
print(list_containing_a_list[:

### Append the empty list with the number 10 and the string 'Hello'. You should use the append method twice.

In [2]:
empty_list_1 = []

In [3]:
empty_list_1.append(10)
empty_list_1.append("hello")

In [4]:
print(empty_list_1)

[10, 'hello']

### Append the empty list with the number 10 and the string 'Hello'. You should use the extend method once.

In [7]:
empty_list_2 = []

In [11]:
empty_list_2.extend([10, "hello"])

In [12]:
print(empty_list_2)

[10, 'hello']

### Use list comprehension to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included.

In [15]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
new_list = [num * 10 for num in list_example if num>= 4 and num<=8]

In [21]:
print(new_list)

[40, 50, 60, 70, 80]

### Concatenate the two lists below elementwise so you get a new list ['My', 'name', 'is', 'Antonio']. Hint: use the zip function. 
Expected output: ["My", "name", "is", "Antonio"].

In [34]:
list1 = ["M", "na", "i", "Anto"]
list2 = ["y", "me", "s", "nio"]

In [45]:
result = [i + j for i, j in zip(list1, list2)]
print(result)

['My', 'name', 'is', 'Antonio']

# Tuples

### Unpack the tuple so that we get 4 new variables.

In [ ]:
my_tuple = (10, 20, 30, 40)

In [ ]:
x1 = my_tuple[0]

### Explain with your own words what the code below containing two scenarios does.

In [ ]:
def f(x): 
    return (x, x**2, x**3, x**4)

# Scenario 1.
x1, x2, x3, x4 = f(2)
print(x1)
print(x2)
print(x3)
print(x4)

print()

# Scenario 2.
x = f(3)
print(x)

### Count the number of times 24 occurs in the tupple.

In [47]:
tuple_22 = 24, 2, 4, 24, 24, 5

In [49]:
print(tuple_22.count(24))

3

### Swap the two tuples, i.e. t1 should be replaced by t2 and vice versa.

In [51]:
t1 = ('Python', 'MATLAB')
t2 = ('R', 'Julia')

In [56]:
t1, t2 = t2, t1
print("t1 after: ", t1)
print("t2 after: ", t2)

t1 after:  ('R', 'Julia')
t2 after:  ('Python', 'MATLAB')

# Dictionaries

### We have two lists, use both of them to convert it to a dictionary. l1 should be the keys whereas l2 should be the values. Hint, use the zip function.

In [58]:
l1 = [1, 2, 3]
l2 = ['Python', 'C++', 'Java']

In [59]:
result = dict(zip(l1, l2))
print(result)

{1: 'Python', 2: 'C++', 3: 'Java'}

### Print out the value corresponding to the key "1".

In [1]:
dictionary = {0: 'Easy', 1: 'as', 2: 'ABC'}

In [3]:
print(dictionary[1])

as

### Explain with your own words what the code does.

#### this return kw with a custom key

In [ ]:
def y(x):
  y0 = x
  y1 = x**2
  y2 = x**3

  return {'y0': y0, 'y1': y1 ,'y2': y2}

In [ ]:
y(2)['y1']

# Sets

### Create a set named my_set containing the items: Python, R, MATLAB, Julia, SAS, C.

In [12]:
my_set = {"Python", "R", "MATLAB", "Julia", "SAS", "C"}
print(my_set)
type(my_set)

{'R', 'Python', 'Julia', 'MATLAB', 'SAS', 'C'}

set

In [2]:
my_sett = {'Python', 'R', 'MATLAB', 'Julia', 'SAS', 'C', 'Python', 'pYthoN'}
my_class = {'patrik', 'Kasper', 'Tim', 'Carlo', 'Jacob'}
print(my_class)

{'Jacob', 'Carlo', 'Kasper', 'patrik', 'Tim'}

### Find all elements that are in atleast one of the sets.

In [5]:
set_a = {-10, 1, 999, 2, 99}
set_b = {0, 100, 15, 765}

In [6]:
print(set_a)
print(set_b)
set_a.union(set_b)

{1, 2, 99, -10, 999}
{0, 100, 765, 15}

{-10, 0, 1, 2, 15, 99, 100, 765, 999}

### Find all the items that are in *both* lists and return those values in a list.

In [7]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

In [8]:
intersection = list(set(l1).intersection(set(l2)))
print(intersection)
print(type(intersection))

['Python', 'Julia']
<class 'list'>

### Find all the unique elements of the list.

In [21]:
l = [1, 1, 2, 2, 3, 1, 2]

In [23]:
set(l)
print(list(set(l)))

[1, 2, 3]

### Find all the elements that are in set_1 but not in set_2.

In [25]:
set_1 = {1, 2, 3, 4, 5, 6}
set_2 = set([1, 3, 4])

In [26]:
set_1.difference(set_2)

{2, 5, 6}

# Iteration & Loops

### Print out all the elements in the list "looping_list" with a for loop.

In [13]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'),{'Anna':19, 'Kasper':22}, 55]

In [14]:
for i in looping_list:
    print(i)

0
a
b
[1, 2, 3]
('Python', 'R')
{'Anna': 19, 'Kasper': 22}
55

In [17]:
for item in looping_list:
    if isinstance(item, (list, tuple, dict)):
        if isinstance(item, dict):
            for value in item.keys():
                print(value)
        else:
            for element in item:
                print(element)
    else:
        print(item)

0
a
b
1
2
3
Python
R
Anna
Kasper
55

### Print out all the elements in the list "looping_list" and enumerate the iteration number.

In [ ]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [74]:
for num, item in enumerate(looping_list):
    if isinstance(item, (list, tuple, dict)):
        if isinstance(item, dict):
            for num0, value in enumerate(item.values()):
                print(f"  {num}.{num0}: {value}")
        else:
            for num1, element in enumerate(item):
                print(f"  {num}.{num1}: {element}")
    else:
        print(f"Item {num}: {item}")

Item 0: 0
Item 1: a
Item 2: b
  3.0: 1
  3.1: 2
  3.2: 3
  4.0: Python
  4.1: R
Item 5: 55

### Write a for loop to print out each letter in the string.

In [76]:
for_string = 'Python!'

In [77]:
for i in for_string:
    print(i)

P
y
t
h
o
n
!

### Write a while loop to print out each letter in the string.

In [32]:
while_string = 'Is Awesomeööö!'

In [33]:
i = 0
while i < len(while_string):
    print(while_string[i])
    i+= 1

I
s

A
w
e
s
o
m
e
ö
ö
ö
!

In [38]:
import re  # standard library

letters = re.findall(r'[a-zA-Z ]', while_string)

i = 0
while i < len(letters):
    print(letters[i])
    i += 1

I
s

A
w
e
s
o
m
e

### Print the numbers 1, 2, ..., 10 with a while loop.

In [103]:
i = 0
while i < 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

### Print out all numbers that are divisible by 5 in the list "numbers". 
Hint: Use the modulo operator %. A number is divisible by 5 if the remainder after dividing by 5 is 0.

In [107]:
numbers = [10, 20, 34, 46, 55]

In [109]:
for i in numbers:
    if i % 5 == 0:
        print(i)

10
20
55

### Print the numbers 0, 5, 10, 15, 20 with a for-loop and using the range function.

In [112]:
for i in range(0,21,5):
    print(i)

0
5
10
15
20

### Use a for loop to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included. (In general it is better to do this with list comprehension since it is more efficient but this is for exercise purpose.)

In [119]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [122]:
[i*10 for i in list_example if i<=4 and i<=8]

[10, 20, 30, 40]

# Functions

### Create a function "uppercase_converter" that converts a string to uppercase. For example: uppercase_converter('hello') should return the value HELLO.

In [135]:
upperme = "asdfsadfsadfasdf"
def uperer(x):
    return x.swapcase()

uperer(upperme)

'ASDFSADFSADFASDF'

### Create a function that accepts two arguments and that returns the sum and subtraction of the numbers.

### Create  a function that contains positional only, positional or keyword and finally keyword arguments only. Hint:
**def f(pos_only_1, /, pos_or_kwd, *, kwd_only_1)** .

In [ ]:
def(x, x2, x3, / ,y1, y2 ,*, z, z2)
def(1,2,3, y2=4 , y1=5, z = 6, z2 = 7)

### Assign a different name to the function and call it through the new name.

In [136]:
def fun(x1, x2):
    return x1 + x2

fun(1,2)

3

### Write a function f that takes three arguments. The first two are numbers whereas the third is specifying wheter you want to multiply or add them. 
Example: 

f(2, 5, 'add') = 7

f(2, 5, 'multiply') = 10

f(2, 5, 'test') should return an error (raise an exception) and print out the message: Choose either "add" or "multiply" .

In [152]:
def calc(x,y, meth):
    if meth == "add":
        print(x+y)
    elif meth == "multi":
        print(x*y)
    else:
        print("please use add or multi")

calc(2,2,"add")
calc(2,3,"multi")

4
6

### Run the program below and explain what it does.

In [153]:
name = input('What is your name dear stranger?')

print('Mom, I met a person whos name is:', name)

What is your name dear stranger? wow

Mom, I met a person whos name is: wow

the input function takes in the name variable. it makes the program more interactive and the input function waits for the input to and then continues

# General Exercises

### Check if the strings below is a palindrome meaning that if you reverse the string it is the same. 
Example: anna reversed is still anna meaning it is a palindrome. john reversed is nhoj meaning it is not a palindrome.

In [ ]:
string_1 = 'anna'
string_2 = 'john'

In [159]:
def reverser(str):
    return str[::-1]

reverser("ohce")

'echo'

### Explain, with your own words, the difference between the two code blocks below. When would you prefer the respective method? Can you create two own examples when each method might be useful?
A good link: https://stackoverflow.com/questions/9271712/difference-between-multiple-ifs-and-elifs .

the first one does all the comparisons no matter what the previous one is, 
and the secound one breaks out of the if statement if it matches the condition

In [18]:
number = 8

In [21]:
if number < 5:
    print('Less than 5C')
if number < 10:
    print('Less than 10C')
if number < 100:
    print('Less than 100C')

"""
if less than 100 color = blue
if less than 10 
"""

Less than 10C
Less than 100C

'\nif less than 100 color = blue\nif less than 10 \n'

In [20]:
if number < 5:
    print('Less than 5')
elif number < 10:
    print('Less than 10')
elif number < 100:
    print('Less than 100')

Less than 10